fastapi 
uvicorn 
langchain 
langchain-ollama 
langchain-community 
langchain-core
sqlalchemy 
mysql-connector-python 
streamlit
dotenv
duckdb
thefuzz
scikit-learn
# chromadb 
# pydantic

# uvicorn main:app --port 8001
# streamlit run src/app.py